<%- include("partials/_header") %>
<body>
    <% data.forEach(entry => { %>
        <h1><%= entry.name %></h1>
        <p><%= entry.email %></p>
    <% }) %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="col">
                    <div class="row">
                        <form action="/auth/register" method="POST">
                            <div class="row">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Adress</label>
                                    <input type="email" class="form-control" id="email" name="email">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordConfirm">Confirm Password</label>
                                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                                    </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="userType">User Type</label>
                                    <input type="userType" class="form-control" id="userType" name="userType">
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-lg btn-success mt-4">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>