<%- include("partials/_header") %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                Login Form
            </div>
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email Adress</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Log in</button>
                    <a class="forgot" href="/forgot-password">I forgot my password</a>
                </form>
            </div>
        </div>
    </div>   
</body>
</html>