<%- include("partials/_header") %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                Register Form
            </div>
            <div class="card-body">
                <form action="/auth/register" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Adress</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                    </div>
                    <button type="submit" class="btn btn-lg btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>