body{
    background-color: rgb(140, 155, 103,0.6);
}
nav{
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 20px;
}

nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

label{
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.container .jumbotron{
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.container .card{
    width: 50%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.container .card .card-header{
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #563d7c;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.container .card .card-body .form-group{
    min-width: 45%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #563d7c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    margin-left: 10px;
    margin-top: 5px;
}

.container .card .card-body .btn{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    margin-left: 10px;
}

.container .card .card-body .forgot{
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.container .card .card-body .forgot:hover{
    color: rgb(255, 0, 0);
}


